Hospital/Service References/ServiceReference1/servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="servicio" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WS2/servicio?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="getVersion">
    <part name="parameters" element="tns:getVersion" />
  </message>
  <message name="getVersionResponse">
    <part name="parameters" element="tns:getVersionResponse" />
  </message>
  <message name="operation">
    <part name="parameters" element="tns:operation" />
  </message>
  <message name="operationResponse">
    <part name="parameters" element="tns:operationResponse" />
  </message>
  <message name="dbSintomas">
    <part name="parameters" element="tns:dbSintomas" />
  </message>
  <message name="dbSintomasResponse">
    <part name="parameters" element="tns:dbSintomasResponse" />
  </message>
  <message name="Otro">
    <part name="parameters" element="tns:Otro" />
  </message>
  <message name="OtroResponse">
    <part name="parameters" element="tns:OtroResponse" />
  </message>
  <message name="listaEnfermedades">
    <part name="parameters" element="tns:listaEnfermedades" />
  </message>
  <message name="listaEnfermedadesResponse">
    <part name="parameters" element="tns:listaEnfermedadesResponse" />
  </message>
  <message name="dere">
    <part name="parameters" element="tns:dere" />
  </message>
  <message name="dereResponse">
    <part name="parameters" element="tns:dereResponse" />
  </message>
  <portType name="servicio">
    <operation name="getVersion">
      <input wsam:Action="http://Servicios/servicio/getVersionRequest" message="tns:getVersion" />
      <output wsam:Action="http://Servicios/servicio/getVersionResponse" message="tns:getVersionResponse" />
    </operation>
    <operation name="operation">
      <input wsam:Action="http://Servicios/servicio/operationRequest" message="tns:operation" />
      <output wsam:Action="http://Servicios/servicio/operationResponse" message="tns:operationResponse" />
    </operation>
    <operation name="dbSintomas">
      <input wsam:Action="http://Servicios/servicio/dbSintomasRequest" message="tns:dbSintomas" />
      <output wsam:Action="http://Servicios/servicio/dbSintomasResponse" message="tns:dbSintomasResponse" />
    </operation>
    <operation name="Otro">
      <input wsam:Action="http://Servicios/servicio/OtroRequest" message="tns:Otro" />
      <output wsam:Action="http://Servicios/servicio/OtroResponse" message="tns:OtroResponse" />
    </operation>
    <operation name="listaEnfermedades">
      <input wsam:Action="http://Servicios/servicio/listaEnfermedadesRequest" message="tns:listaEnfermedades" />
      <output wsam:Action="http://Servicios/servicio/listaEnfermedadesResponse" message="tns:listaEnfermedadesResponse" />
    </operation>
    <operation name="dere">
      <input wsam:Action="http://Servicios/servicio/dereRequest" message="tns:dere" />
      <output wsam:Action="http://Servicios/servicio/dereResponse" message="tns:dereResponse" />
    </operation>
  </portType>
  <binding name="servicioPortBinding" type="tns:servicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getVersion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="operation">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="dbSintomas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Otro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listaEnfermedades">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="dere">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="servicio">
    <port name="servicioPort" binding="tns:servicioPortBinding">
      <soap:address location="http://localhost:8080/WS2/servicio" />
    </port>
  </service>
</definitions>